.placeholder{
    width: clamp(500px, 60%, 800px);
    margin: 40px auto;
    text-align: justify;
}
/* ABOUT US CSS */

<<<<<<< HEAD

/* SERVICES CSS */



/* SERVICES CSS END */

=======
/* ABOUT US CSS END */
>>>>>>> parent of e58f6f0 (Update style.css)
